.single_style_in-below.post_header_wrap {
	margin-bottom: 1.9em;
}

.single_style_in-below.post_header_wrap .post_featured {
	margin: 0;
}

.single_style_in-below.post_header_wrap .post_header {
	margin-bottom: 0;
}
.single_style_in-below.post_header_wrap .post_featured + .post_header {
	margin-top: 1.2em;
}
.single_style_in-below.post_header_wrap .post_header .post_title {
	margin-top: 0;
	margin-bottom: 0;
}
.single_style_in-below.post_header_wrap .post_header .post_meta {
	margin-top: 0;
}

.single_style_in-below.post_header_wrap .post_header .post_title + .post_meta {
	margin-top: 0.5em;
}
.single_style_in-below.post_header_wrap .post_header .post_meta_categories {
    margin-top: 0;
	margin-bottom: 0.5em;
}
.single_style_in-below.post_header_wrap .post_header .post_meta_other {
	margin-top: 1em;
}
.single_style_in-below.post_header_wrap .post_header .post_subtitle {
	margin-top: 0.1em;
}
