@import "../../css/_mixins.scss";
@import "../../css/_theme-vars.scss";


@media #{$media_md} {
    /* Single post header */
	.single_style_out-sticky-boxed.post_header_wrap .post_featured + .post_header {
		min-width: 80%;
		max-width: 80%;
	}
}


@media #{$media_xs} {
    /* Single post header */
	.single_style_out-sticky-boxed.post_header_wrap {
		margin-bottom: 2em;
	}
	.single_style_out-sticky-boxed.post_header_wrap .post_featured {
		margin-bottom:  0;
	}
	.single_style_out-sticky-boxed.post_header_wrap .post_featured + .post_header {
		position: static !important;
		text-align: left !important;
		@include transform(none !important);
		min-width: 0;
		max-width: none;
		background-color: transparent;
		padding: 0;
		border: none;
		margin-top: 2em;
	}
}